@model AddCustomer

<br /><br />

<form asp-controller="AddCustomer" asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId"></label>
        <div>@Model.UserId</div>
    </div>

    <input type="submit" class="btn btn-default" value="Test It" />
</form>
